body {
  font-family: "Futura";
}

.about {
  float: left;
  width: 20%;
}

.images {
  float: right;
  width: 75%;
  }

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 12px;
}

img {
  width: 25%;
  position: relative;
}



.d {
  transform:translate(100%,0);
}

.q {
  transform:translate(-90%, 85%);
}

.p {
    transform:translate(100%,70%);
}

.b {
    transform:translate(-20%, 85%);
}
